@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --gradient: #004680;
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #2774ae;

    --background: 219 41.6% 3.36%;
    --foreground: 219 6.4% 97.1%;

    --muted: 219 32% 12.6%;
    --muted-foreground: 219 6.4% 54.2%;

    --popover: 219 52.2% 5.46%;
    --popover-foreground: 219 6.4% 97.1%;

    --card: 219 52.2% 5.46%;
    --card-foreground: 219 6.4% 97.1%;

    --border: 219 32% 12.6%;
    --input: 219 32% 12.6%;

    --primary: 219 64% 42%;
    --primary-foreground: 219 6.4% 97.1%;

    --secondary: 219 32% 12.6%;
    --secondary-foreground: 219 6.4% 97.1%;

    --accent: 219 32% 12.6%;
    --accent-foreground: 219 6.4% 97.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 219 6.4% 97.1%;

    --ring: 219 64% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
